@tailwind base;
@tailwind components;
@tailwind utilities;


/* ------ Custom CSS classes ------ */

@layer base {
    html {
        background-color: #E7E7E4;
    };
}

@layer components {
    .brg-txt-body {
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
    }
    
    .brg-txt-big {
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }
    
    .brg-txt-heading {
        font-size: 24px;
        font-weight: 400;
        line-height: 130%;
    }
    
    .brg-txt-caption {
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        color: darkgray;
    }
    
    .brg-txt-button {
        font-size: 11px;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    div .brg-cta {
        border-bottom: solid 1px;
    }
}

@layer utilities {
    .unselected {
        opacity: 20%;
    }
}


/*
.brg-heading {
    color: darkcyan;
}

.brg-big-text {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.brg-body-text {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.brg-button {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 1px;
}
*/