@tailwind base;
@tailwind components;
@tailwind utilities;


/* ------ Custom CSS classes ------ */

@layer base {
    html {
        background-color: #E7E7E4;
    };
}

@layer components {
    .brg-txt-body {
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 350;
        font-size: 16px;
        line-height: 140%;
    }
    
    .brg-txt-big {
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 350;
        font-size: 18px;
        line-height: normal;
    }
    
    .brg-txt-heading {
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 26px;
        line-height: 120%;
        letter-spacing: -0.1px;
    }
    
    .brg-txt-caption {
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 350;
        font-size: 15px;
        line-height: normal;
        color: darkgray;
    }
    
    .brg-txt-button {
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 550;
        font-size: 11px;
        line-height: normal;
        text-transform: uppercase;
        letter-spacing: 1.7px;
    }

    div .brg-cta {
        border-bottom: solid 1px;
    }
}

@layer utilities {
    .unselected {
        opacity: 20%;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    p a {
        text-decoration: underline;
    }
}


/*
.brg-heading {
    color: darkcyan;
}

.brg-big-text {
    font-size: 24px;
    font-weight: 350;
    line-height: normal;
}

.brg-body-text {
    font-size: 14px;
    font-weight: 350;
    line-height: normal;
}

.brg-button {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 1px;
}
*/